/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.main-sequence {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-sequence .notes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-sequence .note {
  width: 30px;
  height: 24px;
  background-color: #cccc;
  display: block;
}

.main-sequence .tempoVisible {
  width: 30px;
  height: 24px;
  background-color: #b7ff00cc;
  display: block;
}

.main-sequence .note.active {
  background-color: purple;
}

.main-sequence .compass {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.back-sequence {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.back-sequence .back-compass {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.back-sequence .note {
  width: 308px;
  height: 38px;
  background-color: #cccccc;
  display: block;
}

.back-sequence .note.active {
  width: 308px;
  height: 38px;
  background-color: #4000ff;
  display: block;
}
